@import url("./themes/Dark.css");

* {
  font-size: 16px;
  font-weight: 700;
}

window#waybar {
  background-color: @window-bg;
}

#workspaces {
  padding: 2px 0;
}

#workspaces button {
  transition: 0.3s all;
  padding: 0;
  margin: 0 4px;
  color: @gray;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button.active {
  color: @green;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 2px 12px;
}

#cpu,
#memory,
#clock,
#network,
#backlight,
#pulseaudio,
#custom-power,
#custom-logo,
#custom-updates,
#custom-spotify,
#tray,
#workspaces,
#window,
#language {
  background-color: @item-bg;
  border-radius: 4px;
  margin: 1px 0;
  padding: 0 6px;
}

#custom-spotify {
  padding: 0 12px;
  color: @green;
}

#tray {
  padding: 0 10px;
}

#custom-logo {
  color: @blue;
  margin-right: 8px;
  padding: 0 12px 0 8px;
  font-size: 18px;
}

#cpu {
  color: @orange;
}

#memory {
  color: @red;
}

#network {
  color: @gray;
}

#pulseaudio {
  color: @green;
}

#clock {
  color: @gray;
}

#language {
  color: @purple;
}

#custom-power {
  color: @red;
  padding: 0 16px 0 12px;
}

#custom-updates {
  color: @purple;
  padding: 0 12px;
}
