@import url("./themes/Catppuccin-Mocha.css");

* {
  font-size: 15px;
  font-weight: 600;
}

window#waybar {
  background-color: @wp-bg-active;
  border-radius: 0px;
  color: @fg;
}

window#waybar.empty .modules-left, .modules-center, .modules-right {
  background-color: @bg;
}

window#waybar:not(.empty) #window {
  background-color: @wp-bg-active;
  color: @wp-fg-active;
}

window#waybar.empty {
  background-color: @bg;
}

.modules-left, .modules-center, .modules-right {
  background-color: @bg;
}

.modules-right {
  padding-left: 4px;
}

#workspaces button {
  transition: 0.3s all;
  border-radius: 0px;
  padding: 0px 0px;
  margin: 0px 0px;
  color: red;
  color: @fg;
  background-color: transparent;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button.focused {
  background-color: @wp-bg-active;
  color: @wp-fg-active;
  /* padding: 0 0px; */
}

#hardware,
#power,
#info,
#window,
#tray,
#cpu_ram,
#custom-spotify {
  /* margin: 3px 2px 3px 2px; */
  margin: 0 0px;
  padding: 0px 6px;
  border-radius: 0px;
  /* border: 2px solid @fg; */
  /* border-bottom: 2px solid @wp-bg-active; */
}

#custom-logo {
  margin: 3px 4px;
  font-size: 18px;
  padding: 0 8px 0 12px;
  border-radius: 16px;
  /* background-color: @alt-bg; */
}

#cpu,
#memory,
#clock,
#network,
#backlight,
#pulseaudio,
#custom-power,
#custom-logo,
#custom-updates,
#custom-spotify,
#custom-notification,
#tray,
#window,
#language {
  color: @fg;
  padding: 0 7px;
}

#custom-power {
  padding: 0 8px 0 12px;
}
