@import url("./themes/Dracula.css");

* {
  font-size: 16px;
  font-weight: 600;
  /* all: initial; */
  /* color: @fg; */
}

window#waybar {
  background-color: @bg;
  color: @fg;
  border-radius: 0px;
  transition: all 0.3s;
}

.modules-left {
  margin-left: 0px;
}

#workspaces button {
  /* transition: 0.3s all; */
  min-width: 0;
  padding: 0 12px;
  margin: 0px 0px;
  border-radius: 0px;
  color: @fg;
  background-color: transparent;
}

#workspaces button.focused {
  background-color: @wp-bg-active;
  color: @wp-fg-active;
}

#workspaces button.active {
  background-color: @wp-bg-active;
  color: @wp-fg-active;
}

#hardware,
#power,
#info,
#window,
#tray,
#cpu_ram,
#custom-spotify {
  padding: 0px 6px;
  border-radius: 0px;
}

#cpu,
#memory,
#clock,
#network,
#backlight,
#pulseaudio,
#custom-updates,
#custom-spotify,
#tray,
#window,
#language {
  padding: 0 7px;
}

#custom-power {
  padding: 0 8px 0 12px;
}
